@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--teko), var(--mitr);
  font-weight: 300;
  font-size: 1.25rem;
  color: #000000;
  background-color: #F5F5F5;
}

[lang|="th"] {
  font-family: var(--mitr), sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
